body {
	background: rgba(176,190,197,0.3);
}

* {
	box-sizing: border-box;
}

.app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.login {
	float: none;
	width: 200px;
	margin: 20px auto;
	text-align: center;
}

.login input {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

header {
	float: left;
	width: 100%;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgb(3,155,229);
}

header a {
	color: rgb(240,240,240);
	padding: 0 10px;
	text-decoration: none;
	font-family: 'Arial';
	transition: all 0.25s ease;
}

h1 {
	margin: 15px 0;
	font-size: 1em;
}
h3 {
	font-size: .9em;
	text-align: center;
	font-weight: bolder;
}
header a:hover {
	color: rgb(255,235,59);
}
.page {
	background: rgba(255,255,255,0.7);
	float: left;
	width: 100%;
	height: 100%;
	margin:0;
	padding: 10px;
}

.box {
	float: left;
	width: 30%;
	margin: 0 5px;
	padding: 10px;
	background: rgba(2,136,209,0.8);
	box-shadow: 3px solid rgb(1,87,155);

}

.box2 {
	float: left;
	width: 60%;
	margin: 0 5px;
	padding: 10px;
	background: rgba(2,136,209,0.8);
	box-shadow: 3px solid rgb(1,87,155);
}

.box h3 {
	color: rgb(255,235,59);
}

.schedule label, .contact label, .schedule input, .contact textarea {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
	resize: none
}

.tech {
	text-align: center;
}
a {
	color: black;
	font-size: .8em;
}
a:hover {
	color: rgb(255,235,59);
}
p{
	font-size: .8em;
}
.logoOffset{
	width: 100%;
	margin-top: 20px;
	margin-left: -70px;
}
#background-video {
	width: 100%;
}
.control-label {
	font-size: .7em;
	font-weight: bold;
}